In [1]:
import os
import pandas as pd

df_list = []

loc = 'txt_sentoken/neg/'

for f in os.listdir(loc):
    text = open(loc+f, "r")
    d = {'text': [text.read()], 'label': [0]}
    df = pd.DataFrame(d)
    df_list.append(df)
    
loc = 'txt_sentoken/pos/'

for f in os.listdir(loc):
    text = open(loc+f, "r")
    d = {'text': [text.read()], 'label': [1]}
    df = pd.DataFrame(d)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)
df

                                                   text  label
0     plot : two teen couples go to a church party ,...      0
1     the happy bastard's quick movie review \ndamn ...      0
2     it is movies like these that make a jaded movi...      0
3      " quest for camelot " is warner bros . ' firs...      0
4     synopsis : a mentally unstable man undergoing ...      0
...                                                 ...    ...
1995  wow ! what a movie . \nit's everything a movie...      1
1996  richard gere can be a commanding actor , but h...      1
1997  glory--starring matthew broderick , denzel was...      1
1998  steven spielberg's second epic film on world w...      1
1999  truman ( " true-man " ) burbank is the perfect...      1

[2000 rows x 2 columns]

In [2]:
from sklearn.model_selection import train_test_split

X = df['text'].values
y = df['label'].values
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=1000)

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer(stop_words='english')
sparse_matrix = count_vectorizer.fit_transform(X_train)
sparse_matrix.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 1, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [4]:
doc_term_matrix = sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix,
                 columns=count_vectorizer.get_feature_names())

df.loc['MVR'] = (df == 0).sum()/len(df)*100

df#.round(3).sample(6, axis='columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,000,0009f,007,00s,03,04,05,05425,10,...,zuko,zulu,zundel,zurg,zus,zweibel,zwick,zwigoff,zycie,zzzzzzz
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1497,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1498,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1499,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MVR,99.666667,95.133333,99.933333,99.666667,99.933333,99.933333,99.933333,99.8,99.933333,90.4,...,99.866667,99.933333,99.933333,99.933333,99.933333,99.933333,99.666667,99.933333,99.933333,99.933333

In [5]:
df.loc['MVR'].max()

99.93333333333332

In [6]:
keep_voc = df.columns[df.loc['MVR'] != df.loc['MVR'].max()].to_list()

In [7]:
print(len(count_vectorizer.get_feature_names()), len(keep_voc))

34939 20676

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [8]:
count_vectorizer = CountVectorizer(vocabulary=keep_voc)
X_train, X_test = map(lambda x: count_vectorizer.transform(x), (X_train, X_test))

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score =  classifier.score(X_test, y_test)
print('Accuracy:', score)

Accuracy: 0.828